<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dentalclinic.capstone.admin">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.CreatePatientActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditAccoutActivity" />
        <activity android:name=".activities.EditPatientActivity" />
        <activity android:name=".activities.EditPasswordActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".firebase.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.SearchPatientActivity" />
        <activity
            android:name=".activities.AnamnesisListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity android:name=".activities.PatientDetailActivity" />
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.PatientTreatmentActivity" />
        <activity android:name=".activities.PatientPaymentActivity" />
        <activity
            android:name=".activities.StepListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".activities.MedicineListActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".activities.PhotoViewActivity" />
        <activity android:name=".activities.ShowTreatmentHistoryActivity" />
        <activity android:name=".activities.CreateTreatmentActivity"></activity>
        <activity android:name=".activities.TreatmentDetailActivity" />
        <activity android:name=".activities.CreateTreatmentDetailActivity"></activity>
        <activity android:name=".activities.DatePickerActivity"></activity>
        <activity android:name=".activities.BookAppointmentActivity"></activity>
        <activity android:name=".activities.BookAppointmentReceptActivity"></activity>
        <!--<activity android:name=".activities.CreateTreatmentDetailActivity"></activity>-->
    </application>

</manifest>